<!-- Handling everything form index.html file  -->
<!-- <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="app.js"></script>
    <title>Document</title>
  </head>
  <body>
    <div id="app">
      <h1 v-bind:style="{ fontSize: fontSizeTemp +'px' }">Hello Developer</h1>
      <h1 v-bind:style="{ color: 'red' }">{{ message }}</h1>
      <p>Your lucky number is: {{ luckyNum }}</p>
      <p>All the employees: {{ employees }}</p>
      <p>All Random Number is : {{getRandomNumber() }}</p>
    </div>
  </body>
  <script>
    const { createApp } = Vue;
    const fontSizeTemp = 60;
    const message = "Hello, Vue 3!";
    const luckyNum = 7;
    const employees = [
      { name: "Alice", age: 30 },
      { name: "Bob", age: 25 },
      { name: "Charlie", age: 35 },
    ];
    function getRandomNumber() {
      return Math.floor(Math.random() * 10 + 5);
    }
    createApp({
      setup() {
        return {
          message,
          luckyNum,
          employees,
          getRandomNumber,
          fontSizeTemp,
        };
      },
    }).mount("#app");
  </script>
</html> -->

<!-- Handling everything form app.js file -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <title>Document</title>
    <style>
      .box {
        padding: 100px 0px;
        text-align: center;
        margin: 20px;
        display: inline-block;
        width: 200px;
        /* height: 200px; */
        background-color: lightblue;
      }
    </style>
  </head>
  <body>
    <div id="app">
      <!-- here v-if is a directive which is used to show or hide the content -->
      <div v-if="showDetails">
        <p>{{ title}} - {{ author}} - {{designation}} - {{age}}</p>
        <!-- v-on and @ is same -->
        <button v-on:click="age++">Increase Age</button>
        <button @click="age--">Decrease Age</button>
        <!-- title change with a method -->
        <button @click="changeTitle('Changed the title')">Change Title</button>
      </div>
      <button v-bind:style="{ margin: '10px' }" @click="toggleShowBooks">
        <span v-if="showDetails" v-bind:style="{ color: 'red' }">
          Hide Books</span
        >
        <!-- <span v-if="!showDetails" v-bind:style="{ color: 'blue' }"  > Show Books</span> -->
        <span v-else v-bind:style="{ color: 'blue' }">Show Books</span>
      </button>
      <br />

      <div class="box" @mouseover="handleEvent">Mouse Over(Center)</div>
      <div class="box" @mouseleave="handleEvent">Mouse Leave</div>
      <div class="box" @dblclick="handleEvent">Double Click</div>
      <div class="box" @mousemove="handleMouseMove">
        MouseMove {{x}} , {{y}}
      </div>
    </div>
    <!-- maping the data with v-for -->
    <div id="app2">
      <ul>
        <!-- dynamic link -->
         <!-- Atribute Binding  -->
        <!-- <a v-bind:href="url">Google link</a> -->
        <li v-for="book in books">
          <img :src="book.img" :alt="book.title">
          <h3>{{book.title}}</h3>
          <p>{{book.author}}</p>
        </li>
      </ul>
    </div>

    <script src="app.js"></script>
  </body>
</html>
